<div class="example-container mat-elevation-z8">
  <div class="container">
    <div class='title'>

  <span>  <h1>Car Rental System
<a style="color:white;font-size:16px" [routerLink]="['/profile']">
    <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
      <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
    </div>
  </div>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!-- <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/cases']"><mat-icon>list</mat-icon></a>
  </div> -->
  <mat-card class="example-card">
    <form [formGroup]="profileForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Firstname " formControlName="firstName"
                [errorStateMatcher]="matcher"/>
        <mat-error>
          <span *ngIf="!profileForm.get('firstName').valid && profileForm.get('firstName').touched">Please enter Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Lastname" formControlName="lastName"
                [errorStateMatcher]="matcher"/>
        <mat-error>
          <span *ngIf="!profileForm.get('lastName').valid && profileForm.get('lastName').touched">Please enter Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="username" formControlName="username"
                [errorStateMatcher]="matcher" />

        <mat-error>
          <span *ngIf="!profileForm.get('username').valid && profileForm.get('username').touched">Please enter username</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" formControlName="password" type="password"
                [errorStateMatcher]="matcher" />

        <mat-error>
          <span *ngIf="!profileForm.get('password').valid && profileForm.get('password').touched">Please enter password</span>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!profileForm.get('address').valid && profileForm.get('address').touched">Please enter Address</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!profileForm.get('city').valid && profileForm.get('city').touched">Please enter City</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!profileForm.get('state').valid && profileForm.get('state').touched">Please enter State</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Zip Code</mat-label>
        <input matInput placeholder="Zip Code" formControlName="zipcode"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!profileForm.get('zipcode').valid && profileForm.get('zipcode').touched">Please enter Zip <code></code></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!profileForm.get('email').valid && profileForm.get('email').touched">Please enter Email Address</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>License Number</mat-label>
        <input matInput placeholder="license number" formControlName="licensenumber"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!profileForm.get('licensenumber').valid && profileForm.get('licensenumber').touched">Please enter License number</span>
        </mat-error>
      </mat-form-field>

    <mat-form-field>
      <mat-label>License Expiry date</mat-label>
      <input matInput [matDatepicker]="licensepicker" placeholder="license expiry date"  formControlName="licenseExpiryDate">
      <mat-datepicker-toggle matSuffix [for]="licensepicker"></mat-datepicker-toggle>
      <mat-datepicker #licensepicker></mat-datepicker>
      <mat-error>
        <span *ngIf="!profileForm.get('licenseExpiryDate').valid && profileForm.get('licenseExpiryDate').touched">Please enter License Expiration Date</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Credit card number</mat-label>
      <input matInput placeholder="Credit card" formControlName="creditCard"
              [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!profileForm.get('creditCard').valid && profileForm.get('creditCard').touched">Please enter Credit card</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Card Expiration Month</mat-label>
      <mat-select formControlName="creditCardExpMonth">
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{month.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Card Expiration Year</mat-label>
      <mat-select formControlName="creditCardExpYear">
        <mat-option *ngFor="let year of years" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>





    <mat-form-field class="example-full-width">
      <mat-label>cvv</mat-label>
      <input matInput placeholder="cvv" formControlName="cvv" maxlength="3" type="password"
              [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!profileForm.get('cvv').valid && profileForm.get('cvv').touched">Please enter cvv</span>
      </mat-error>
    </mat-form-field>

      <div class="button-row">
        <button type="submit" [disabled]="!profileForm.valid" mat-flat-button color="primary">Update</button>
      </div>
    </form>
  </mat-card>
</div>
