<div class="example-container">
  <div class="container">
     <div class='title'>

   <span>  <h1>Car Rental System
 <a style="color:white;font-size:16px" [routerLink]="['/profile']">
     <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
       <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
     </div>
   </div>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!-- <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/cases']"><mat-icon>list</mat-icon></a>
  </div> -->
  <mat-card class="example-card">
    <form [formGroup]="reservationForm" (ngSubmit)="onFormSubmit()">
      <span class="errorMessage" id="errorBlock"></span>
      <mat-form-field class="example-full-width">
          <mat-label>Location</mat-label>
            <mat-select formControlName="location" >
              <mat-option *ngFor="let location of locations"  [value]="location.id">
                {{location.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="!reservationForm.get('location').valid && reservationForm.get('location').touched">Please select Location <code></code></span>
            </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>Vehicle Type</mat-label>
            <mat-select formControlName="vehicleType">
              <mat-option *ngFor="let vehicleType of vehicleTypes"  [value]="vehicleType.id">
                {{vehicleType.value}}
              </mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="!reservationForm.get('vehicleType').valid && reservationForm.get('vehicleType').touched">Please select Vehicle type <code></code></span>
            </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pickup Date time</mat-label>
       <input matInput [ngxMatDatetimePicker]="pickupTimePicker" placeholder="Pickup date" [formControl]="pickupDateTime">
       <mat-datepicker-toggle matSuffix [for]="pickupTimePicker"></mat-datepicker-toggle>
       <ngx-mat-datetime-picker [showSeconds]='false' #pickupTimePicker></ngx-mat-datetime-picker>
     </mat-form-field>




      <mat-form-field>
          <mat-label>Dropoff Date time</mat-label>
          <input matInput [ngxMatDatetimePicker]="dropoffTimePicker" placeholder="Dropoff date" [formControl]="dropoffDateTime">
          <mat-datepicker-toggle matSuffix [for]="dropoffTimePicker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #dropoffTimePicker></ngx-mat-datetime-picker>

        <!-- <ngx-datepicker [(ngModel)]="model"></ngx-datepicker> -->

      </mat-form-field>




      <div class="button-row">
        <button type="submit" [disabled]="!reservationForm.valid" mat-flat-button color="primary">Search Vehicles</button>
&nbsp;&nbsp;&nbsp;
        <button type="submit" (click)="closeWindow()" mat-flat-button color="primary">cancel</button>

      </div>
    </form>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
             <td mat-cell *matCellDef="let row">
            {{row.vehicleId}}
            </td>
             </ng-container>

             <ng-container matColumnDef="model">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Details </th>
               <td mat-cell *matCellDef="let row" > <h4>{{row.model}} {{row.make}}</h4> {{row.year}}
                 <br/>Seating capacity : {{row.vehicleSeatingCapacity}}
                </td>
             </ng-container>


          <ng-container matColumnDef="estimatedPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimated Price </th>
            <td mat-cell *matCellDef="let row"> {{row.estimatedPrice}} </td>
          </ng-container>

          <ng-container matColumnDef="star">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
            <td mat-cell *matCellDef="let element">
            <button mat-menu-item accent (click)="bookVehicle(element)">

              <span>Book Vehicle</span>
            </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
          </tr>
          </table>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
          </div>







  </mat-card>
</div>
