<div class="example-container mat-elevation-z8">
  <div class="container">
    <div class='title'>

  <span>  <h1>Car Rental System
<a style="color:white;font-size:16px" [routerLink]="['/profile']">
    <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
      <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
    </div>
  </div>

<div class="example-content">
  <div class="example-button-row">
    <a mat-flat-button color="primary" [routerLink]="['/vehicletypes']">
          <mat-icon> emoji_transportation</mat-icon>   Vehicle Types
    </a>

    <a mat-flat-button color="primary" [routerLink]="['/locations']">
          <mat-icon> location_on</mat-icon>   Location
    </a>
      <a mat-flat-button color="primary" [routerLink]="['/vehicle']">
            <mat-icon> directions_car</mat-icon>   Vehicle
      </a>

      <a mat-flat-button color="primary" [routerLink]="['/priceList']">
            <mat-icon> attach_money</mat-icon>   Price
      </a>

      <a mat-flat-button color="primary" [routerLink]="['/customers']">
              <mat-icon> group</mat-icon>   Customer
      </a>






  </div>
  <br/>  <br/>  <br/>
</div>
  </div>
