<div class="example-container mat-elevation-z8">
  <div class="container">
    <div class='title'>
    <h1>Car Rental System</h1>
    </div>
  </div>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!-- <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/cases']"><mat-icon>list</mat-icon></a>
  </div> -->
  <mat-card class="example-card">
    <form [formGroup]="editLocationForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" formControlName="name" pattern="^[a-zA-Z][a-zA-Z ]+$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editLocationForm.get('name').valid && editLocationForm.get('name').touched">Please enter Firstname Lastname</span>
        </mat-error>
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>Address Line</mat-label>
        <input matInput placeholder="Address Line" formControlName="addressLine" pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editLocationForm.get('addressLine').valid && editLocationForm.get('addressLine').touched">Please enter Address Line</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" pattern="^[a-zA-Z][a-zA-Z ]+$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editLocationForm.get('city').valid && editLocationForm.get('city').touched">Please enter City</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state" pattern="^[a-zA-Z][a-zA-Z ]+$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editLocationForm.get('state').valid && editLocationForm.get('state').touched">Please enter State</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Zipcode</mat-label>
        <input matInput placeholder="Zipcode" formControlName="zipcode" pattern="^[0-9]+$" maxlength="5"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editLocationForm.get('zipcode').valid && editLocationForm.get('zipcode').touched">Please enter Zipcode</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Contact Number</mat-label>
        <input matInput placeholder="Contact Number" formControlName="contactNumber" pattern="^[0-9]+$" maxlength="10"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editLocationForm.get('contactNumber').valid && editLocationForm.get('contactNumber').touched">Please enter Contact number</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Vehicle Capacity</mat-label>
        <input matInput placeholder="Vehicle Capacity" formControlName="vehicleCapacity" pattern="^[0-9]+$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editLocationForm.get('vehicleCapacity').valid && editLocationForm.get('vehicleCapacity').touched">Please enter Vehicle capacity</span>
        </mat-error>
      </mat-form-field>



      <div class="button-row">
        <button type="submit" [disabled]="!editLocationForm.valid" mat-flat-button color="primary">Save</button> &nbsp;&nbsp;&nbsp;
        <button type="submit" (click)="closeWindow()" mat-flat-button color="primary">cancel</button>

      </div>
    </form>
  </mat-card>
</div>
