<div class="container">
  <div class='title'>
  <h1>Car Rental System</h1>
  </div>
</div>
<div class="content" >
<table>
  <tr>
    <td rowspan="2">
      <img src='assets/images/car-rentals.jpg' width='75%' height='90%' />

      </td>
      <td>
      <a mat-flat-button color="primary" [routerLink]="['/login']"> Already Member? Login</a>


        </td>
      </tr>
      <tr>
        <!-- <td>
          <button type="button" (click)="onCancel()" class="btn btn-secondary btn-block btn-raised">Cancel</button>

          </td> -->
          <td>
            <a mat-flat-button color="primary" [routerLink]="['/register']"> Sign Up</a>

            </td>
          </tr>
          </table>
</div>
