td.mat-column-vehicleInformation {
    width:18%;
}
td.mat-column-pickupDateTime {
    width:20%;
}
td.mat-column-dropoffDateTime {
    width:20%;
}
td.mat-column-estimatedPrice {
    width:20%;
}
td.mat-column-status {
    width:15%;
}
