<div class="example-container">
  <div class="container">
    <div class='title'>

  <span>  <h1>Car Rental System


    <i class="material-icons" style="padding-left:70%">account_circle</i> &nbsp;&nbsp;
      <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
    </div>
  </div>
  <div class="breadcrumb"> <a style="font-size:16px" [routerLink]="['/home']"> Home</a> >> Reservations</div>

  <div class="example-content-page">
<h2> Vehicles</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
       <td mat-cell *matCellDef="let row">
      {{row.id}}
      </td>
       </ng-container>

       <ng-container matColumnDef="vehicleInformation">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Information </th>
         <td mat-cell *matCellDef="let row" > {{row.vehicleInformation}} </td>
       </ng-container>




    <!-- Color Column -->
    <ng-container matColumnDef="pickupDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pickup DateTime </th>
      <td mat-cell *matCellDef="let row" > {{row.pickupDateTime}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="dropoffDateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dropoff DateTime  </th>
      <td mat-cell *matCellDef="let row"> {{row.dropoffDateTime}} </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="estimatedPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estimated Price</th>
      <td mat-cell *matCellDef="let row" > {{row.estimatedPrice}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>

            <td mat-cell *matCellDef="let row" >
              <div *ngIf="row.status">
                <a mat-raised-button routerLink=".">Dropoff</a>
              </div>
              <div *ngIf="!row.status">
                <a mat-raised-button routerLink=".">View Invoice</a>
              </div>
            </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
</div>
