<div class="example-container">
  <div class="container">
    <div class='title'>

  <span>  <h1>Car Rental System
<a style="color:white;font-size:16px" [routerLink]="['/profile']">
    <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
      <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
    </div>
  </div>
  <div class="breadcrumb"> <a style="font-size:16px" [routerLink]="['/customerPage']"> Home</a> >> Reservations</div>

  <div class="example-content-page">
<h2> Reservations</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
       <td mat-cell *matCellDef="let row">
      {{row.id}}
      </td>
       </ng-container>

       <ng-container matColumnDef="vehicleModel">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Information </th>
         <td mat-cell *matCellDef="let row" > {{row.vehicleModel}} {{row.vehicleMake}}</td>
       </ng-container>

       <ng-container matColumnDef="pickUpTime">
         <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> PickUp Time </th>
        <td mat-cell *matCellDef="let row">
       {{row.pickUpTime}}
       </td>
        </ng-container>

       <ng-container matColumnDef="actualDropOffTime">
         <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Actual DropOff Time </th>
        <td mat-cell *matCellDef="let row">
       {{row.actualDropOffTime}}
       </td>
        </ng-container>

        <ng-container matColumnDef="estimatedDropOffTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Estimated DropOff Time </th>
         <td mat-cell *matCellDef="let row">
        {{row.estimatedDropOffTime}}
        </td>
         </ng-container>



          <ng-container matColumnDef="estimatedPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> Estimated Price </th>
           <td mat-cell *matCellDef="let row">
          {{row.estimatedPrice}}
          </td>
           </ng-container>

           <ng-container matColumnDef="locationName">
             <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%">Pickup Location </th>
            <td mat-cell *matCellDef="let row">
           {{row.locationName}}
           </td>
            </ng-container>




    <!-- Color Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>

            <td mat-cell *matCellDef="let row" >
              <div *ngIf="row.action === '1'">
                  <button mat-menu-item (click)="initiateCancel(row)">  <span>Cancel</span>
                  </button>
              </div>
              <div *ngIf="row.action === '2'">
                <button mat-menu-item (click)="initiateDropoff(row)">

                  <span>Dropoff</span>
                </button>
              </div>
              <div *ngIf="row.action === '3'">
                <button mat-menu-item (click)="viewInvoice(row)">

                  <span>View invoice</span>
                </button>
              </div>

              <div *ngIf="row.action === '4'">


                  <span>Cancelled</span>

              </div>
            </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
</div>
