<div class="example-container mat-elevation-z8">
  <div class="container">
    <div class='title'>
    <h1>Car Rental System - Survey</h1>
    </div>
  </div>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">


    <label id="example-radio-group-label"><h3><b>Please Fill for any Damage information</b></h3></label>
    <br/>
    <div>

   <div class="form-control">
       <label id="example-radio-group-label">Flat tyre: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label class="radio-inline">
      <input type="radio" value="1" name="flatTyre" [(ngModel)]="flatTyre" >
      Yes
      </label> &nbsp;&nbsp;&nbsp;
      <label class="radio-inline">
      <input type="radio" value="0" name="flatTyre" [(ngModel)]="flatTyre" >
      No
      </label>
      </div>
     <!-- <mat-radio-group [(ngModel)]="flatTyre">
        <mat-radio-button [value]="1">Yes</mat-radio-button>
        <mat-radio-button [value]="0">No</mat-radio-button>
    </mat-radio-group>  -->
    </div><br/>
    <div class="form-control">
        <label id="example-radio-group-label" >Physical Damage: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <label class="radio-inline">
       <input type="radio" value="1" name="physicalDamage" [(ngModel)]="physicalDamage" >
       Yes
       </label> &nbsp;&nbsp;&nbsp;
       <label class="radio-inline">
       <input type="radio" value="0" name="physicalDamage" [(ngModel)]="physicalDamage" >
       No
       </label>
       </div><br/>


       <div class="form-control">
           <label id="example-radio-group-label">Headlight Damage:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label class="radio-inline">
          <input type="radio" value="1" name="headlightDamage" [(ngModel)]="headlightDamage" >
          Yes
          </label> &nbsp;&nbsp;&nbsp;
          <label class="radio-inline">
          <input type="radio" value="0" name="headlightDamage" [(ngModel)]="headlightDamage" >
          No
          </label>
          </div>

<br/>
                 <div class="form-control">
                      <label id="example-radio-group-label">Side mirror Damage: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                    <input type="radio" value="1" name="sideMirrorDamage" [(ngModel)]="sideMirrorDamage" >
                    Yes
                    </label> &nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                    <input type="radio" value="0" name="sideMirrorDamage" [(ngModel)]="sideMirrorDamage" >
                    No
                    </label>
                    </div>
<br/>

                 <div class="form-control">
                      <label id="example-radio-group-label">Glass Damage: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                    <input type="radio" value="1" name="glassDamage" [(ngModel)]="glassDamage" >
                    Yes
                    </label> &nbsp;&nbsp;&nbsp;
                    <label class="radio-inline">
                    <input type="radio" value="0" name="glassDamage" [(ngModel)]="glassDamage" >
                    No
                    </label>
                    </div>
<br/>
   <div class="form-control">
          <label id="example-radio-group-label" >Scratches: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label class="radio-inline">
              <input type="radio" value="1" name="scratches" [(ngModel)]="scratches" >
            Yes
    </label> &nbsp;&nbsp;&nbsp;
      <label class="radio-inline">
      <input type="radio" value="0" name="scratches" [(ngModel)]="scratches" >
        No
    </label>
  </div>
  <br/>



      <button type="submit" (click)="onFormSubmit()" mat-flat-button color="primary">View Invoice</button>
  </mat-card>
  </div>
