<div class="example-container mat-elevation-z8">
  <div class="container">
    <div class='title'>

  <span>  <h1>Car Rental System
<a style="color:white;font-size:16px" [routerLink]="['/profile']">
    <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
      <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
    </div>
  </div>

<div class="example-content">
  <div class="example-button-row">
      <a mat-flat-button color="primary" [routerLink]="['/addReservation']">
            <mat-icon> emoji_transportation</mat-icon>   Book a Vehicle
      </a>

      <button mat-flat-button color="primary" (click)="callReservation()">

    <mat-icon> airport_shuttle</mat-icon>  View Reservations

    </button>


      <a mat-flat-button color="primary" [routerLink]="['/cancel']">
              <mat-icon> sentiment_dissatisfied</mat-icon>   Cancel membership
      </a>




  </div>
</div>
  <br/>  <br/>
  </div>
