@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.container
{
  background-color: #673ab7;
  color : white;
  height:60px;
}
.title{
  padding : 15px;
}
.content {
  padding-top : 30px;
}
.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}
