@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.container
{
  background-color: #673ab7;
  color : white;
  height:60px;
}
.title{
  padding : 15px;
}
.content {
  padding-top : 30px;
}
.example-container {
  position: relative;
  padding: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}

.mat-flat-button {
  margin: 5px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 45px;
}

.example-content {
  margin-top: 100px;
  margin-left:50px;
}
/* table {
  width: 100%;
} */

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* td, th {
  width: 25%;
} */
.breadcrumb {
  padding:15px;
}

.example-content-page {
  margin-top: 50px;
  margin-left:50px;
}
.example-loading-shade{
  position:fixed;
  left:50%;
  top:50%;
  z-index:1000;
}
