/* You can add global styles to this file, and also import other style files */


@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.container
{
  background-color: #673ab7;
  color : white;
  height:60px;
}
.title{
  padding : 15px;
}
.content {
  padding-top : 30px;
}
