td.mat-column-addressLine {
    width:18%;
}
td.mat-column-name {
    width:12%;
}
td.mat-column-stateDate {
    width:14%;
}
td.mat-column-endDate {
    width:12%;
}
td.mat-column-verified {
    width:5%;
}
td.mat-column-licenseInfo {
    width:10%;
}
