td.mat-cell.mat-column-id {
    width:20px;
}
td.mat-column-addressLine {
    width:20%;
}
td.mat-column-name {
    width:10%;
}
td.mat-column-startDate {
    width:8%;
}
td.mat-column-endDate {
    width:8%;
}
td.mat-column-verified {
    width:5%;
}
td.mat-column-licenseInfo {
    width:8%;
}
td.mat-column-licenseExpDate {
    width:8%;
}
td.mat-column-email {
    width:8%;
}


th.mat-cell.mat-column-id {
    width:20px;
}
th.mat-column-addressLine {
    width:20%;
}
th.mat-column-name {
    width:10%;
}
th.mat-column-startDate {
    width:8%;
}
th.mat-column-endDate {
    width:8%;
}
th.mat-column-verified {
    width:5%;
}
th.mat-column-licenseInfo {
    width:8%;
}
th.mat-column-licenseExpDate {
    width:8%;
}
th.mat-column-email {
    width:8%;
}
