<div class="example-container">
  <div class="container">
    <div class='title'>

  <span>  <h1>Car Rental System
<a style="color:white;font-size:16px" [routerLink]="['/profile']">
    <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
      <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
    </div>
  </div>
  <div class="breadcrumb"> <a style="font-size:16px" [routerLink]="['/admin']"> Home</a> >> Price List</div>
  <div class="button-row">
     <a mat-flat-button color="primary" [routerLink]="['/addPrice']"><mat-icon>add</mat-icon>Add Price</a>
   </div>
  <div class="example-content-page">
<h2> Price List</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
       <td mat-cell *matCellDef="let row">
      {{row.id}}
      </td>
       </ng-container>

       <ng-container matColumnDef="vehicleClass">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Class </th>
         <td mat-cell *matCellDef="let row" > {{row.vehicleClass}} </td>
       </ng-container>


    <!-- Progress Column -->
    <ng-container matColumnDef="vehicleSize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  Seating capacity </th>
      <td mat-cell *matCellDef="let row"> {{row.vehicleSize}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="lateFee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Late Fee </th>
      <td mat-cell *matCellDef="let row" > ${{row.lateFee}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="hourlyFee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hourly Fee </th>
      <td mat-cell *matCellDef="let row"> ${{row.hourlyFee}} </td>
    </ng-container>
    <ng-container matColumnDef="hourlyRange">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount Range (in hours) </th>
      <td mat-cell *matCellDef="let row"> upto {{row.hourlyRange}} hours </td>
    </ng-container>


<!-- icon -->
    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updatePrice('Update',element)">

                  <span>Edit</span>
                </button>

                <button mat-menu-item (click)="updatePrice('Delete',element)">

                  <span>Delete</span>
                </button>
              </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
</div>
