.mat-column-select {
  overflow: initial;
}
table {
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

.mat-column-id {
  width:50px;
}

.mat-column-year {
  width : 30px;
}

th.mat-column-model{
  width:12%;
}
td.mat-column-model{
  width:12%;
}

th.mat-column-make {
  width:10%;
}
td.mat-column-make {
  width:10%;
}
th.mat-column-year {
  width:10%;
}
td.mat-column-year {
  width:10%;
}
th.mat-column-VehicleType {
  width:15%;
}
td.mat-column-VehicleType {
  width:15%;
}

th.mat-column-location {
  width:15%;
}
td.mat-column-location {
  width:15%;
}

th.mat-column-licensePlate {
  width:10%;
}
td.mat-column-licensePlate {
  width:10%;
}

th.mat-column-vin {
  width:15%;
}
td.mat-column-vin {
  width:15%;
}
