<div class="example-container">
  <div class="container">
     <div class='title'>

   <span>  <h1>Car Rental System
 <a style="color:white;font-size:16px" [routerLink]="['/profile']">
     <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
       <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
     </div>
   </div>
  <div class="breadcrumb"> <a style="font-size:16px" [routerLink]="['/admin']"> Home</a> >> Locations</div>
  <div class="button-row">
     <a mat-flat-button color="primary" [routerLink]="['/addLocation']"><mat-icon>add</mat-icon>Add Location</a>
   </div>

  <div class="example-content-page">
<h2> Locations</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="10%"> ID </th>
       <td mat-cell *matCellDef="let row">
      {{row.id}}
      </td>
       </ng-container>

       <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
         <td mat-cell *matCellDef="let row" > {{row.name}} </td>
       </ng-container>


    <!-- Progress Column -->
    <ng-container matColumnDef="addressLine">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Address Line </th>
      <td mat-cell *matCellDef="let row"> {{row.addressLine}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
      <td mat-cell *matCellDef="let row" > {{row.city}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
      <td mat-cell *matCellDef="let row"> {{row.state}} </td>
    </ng-container>


    <!-- Color Column -->
    <ng-container matColumnDef="zipcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zip Code </th>
      <td mat-cell *matCellDef="let row" > {{row.zipcode}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="contactNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number</th>
      <td mat-cell *matCellDef="let row" > {{row.contactNumber}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="vehicleCapacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Capacity</th>
      <td mat-cell *matCellDef="let row" > {{row.vehicleCapacity}} </td>
    </ng-container>
    <!-- Color Column -->

<!-- icon -->
    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="updateLocation('Update',element)">

            <span>Edit</span>
          </button>

          <button mat-menu-item (click)="updateLocation('Delete',element)">

            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
</div>
</div>
