td.mat-column-addressLine {
    width:20%;
}
td.mat-column-name {
    width:15%;
}
td.mat-column-city {
    width:15%;
}
td.mat-column-state {
    width:10%;
}
td.mat-column-contactNumber {
    width:10%;
}
td.mat-column-vehicleCapacity {
    width:5%;
}
