<div class="example-container mat-elevation-z8">
  <div class="container">
    <div class='title'>
    <h1>Car Rental System - Edit Vehicle</h1>
    </div>
  </div>
  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <mat-card class="example-card">
    <form [formGroup]="editVehicleForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Make</mat-label>
        <input matInput placeholder="make" formControlName="make" pattern="^[a-zA-Z][a-zA-Z ]+$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editVehicleForm.get('make').valid && editVehicleForm.get('make').touched">Please enter make of the vehicle</span>
        </mat-error>
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>Model</mat-label>
        <input matInput placeholder="Model" formControlName="model" pattern="^[A-Za-z0-9 ]+$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editVehicleForm.get('model').valid && editVehicleForm.get('model').touched">Please enter model</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Year</mat-label>
        <input matInput placeholder="Year" formControlName="year" pattern="^[0-9]+$"  maxlength="4"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editVehicleForm.get('year').valid && editVehicleForm.get('year').touched">Please enter Year</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Vehicle Identification Number</mat-label>
        <input matInput placeholder="VIN" formControlName="VIN" pattern="^[A-Za-z0-9]+$"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editVehicleForm.get('VIN').valid && editVehicleForm.get('VIN').touched">Please enter VIN</span>
        </mat-error>
      </mat-form-field>

            <mat-form-field>
              <mat-label>Service Date</mat-label>
              <input matInput [matDatepicker]="servicepicker" placeholder="Service Date"  formControlName="serviceDate">
              <mat-datepicker-toggle matSuffix [for]="servicepicker"></mat-datepicker-toggle>
              <mat-datepicker #servicepicker></mat-datepicker>

              <mat-error>
                <span *ngIf="!editVehicleForm.get('serviceDate').valid && editVehicleForm.get('serviceDate').touched">Please enter service date</span>
              </mat-error>
            </mat-form-field>

    

            <mat-form-field class="example-full-width">
              <mat-label>Current Mileage</mat-label>
              <input matInput placeholder="Current Milege" maxlength="7" pattern="^[0-9]+$" formControlName="currentMileage"
                      [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!editVehicleForm.get('currentMileage').valid && editVehicleForm.get('currentMileage').touched">Please enter Current Mileage <code></code></span>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Registration Tag</mat-label>
              <input matInput placeholder="Registration Tag" maxlength="7" pattern="^[A-Za-z0-9]+$" formControlName="registrationTag"
                      [errorStateMatcher]="matcher">
              <mat-error>
                <span *ngIf="!editVehicleForm.get('registrationTag').valid && editVehicleForm.get('registrationTag').touched">Please enter Registration Tag <code></code></span>
              </mat-error>
            </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>License Plate</mat-label>
        <input matInput placeholder="License Plate" maxlength="7" pattern="^[A-Za-z0-9]+$" formControlName="licensePlate"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editVehicleForm.get('licensePlate').valid && editVehicleForm.get('licensePlate').touched">Please enter License Plate <code></code></span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Vehicle Condition</mat-label>
        <input matInput placeholder="Vehicle Condition"  pattern="^[a-zA-Z][a-zA-Z ]+$" formControlName="vehicleCondition"
                [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!editVehicleForm.get('vehicleCondition').valid && editVehicleForm.get('vehicleCondition').touched">Please enter Vehicle Condition <code></code></span>
        </mat-error>
      </mat-form-field>





  <mat-form-field class="example-full-width">
      <mat-label>Location</mat-label>
        <mat-select formControlName="location">
          <mat-option *ngFor="let location of locations"  [value]="location.id">
            {{location.name}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!editVehicleForm.get('location').valid && editVehicleForm.get('location').touched">Please select Location <code></code></span>
        </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Vehicle Type</mat-label>
        <mat-select formControlName="vehicleType">
          <mat-option *ngFor="let vehicleType of vehicleTypes"  [value]="vehicleType.id">
            {{vehicleType.value}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="!editVehicleForm.get('vehicleType').valid && editVehicleForm.get('vehicleType').touched">Please select Vehicle type <code></code></span>
        </mat-error>
  </mat-form-field>


      <div class="button-row">
        <button type="submit" [disabled]="!editVehicleForm.valid" mat-flat-button color="primary">Save</button> &nbsp;&nbsp;&nbsp;
        <button type="submit" (click)="closeWindow()" mat-flat-button color="primary">cancel</button>

      </div>
    </form>
  </mat-card>
</div>
