<div class="example-container mat-elevation-z8">
  <div class="container">
    <div class='title'>

  <span>  <h1>Car Rental System
<a style="color:white;font-size:16px" [routerLink]="['/profile']">
    <span id="profileName" style="font-size:16px;">&nbsp;<i class="material-icons" style="padding-left:70%"> account_circle</i> </span></a>&nbsp;&nbsp;
      <a style="color:white;font-size:16px" [routerLink]="['/logout']"> Logout</a></h1></span>
    </div>
  </div>

  <div class="example-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <!-- <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/cases']"><mat-icon>list</mat-icon></a>
  </div> -->
  <mat-card class="example-card">

<div class="page-content">

  <h2>Warning! </h2>

  Your current membership is active till {{endDate}}. Your cancellation will not refund your registration fee.
  Would you like to continue?

  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="cancel('Cancel')"> Proceed to cancellation</a> &nbsp;&nbsp;
    <button type="submit" (click)="closeWindow()" mat-flat-button color="primary">cancel</button>

  </div>

  </mat-card>
